{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкция
{% endblock %}

{% block content %}

Вам предлагается поучаствовать в следующем конкурсе, цель набрать как можно больше баллов.
<br>
Задания состоят из двух частей:
<br>
<h2>1) Заданиe на сборку словосочетаний.</h2><br> Даются три слова. Надо подобрать четвертое<br> 
слово, которое будет образовывать словосочетание с каждым из трех слов по отдельности. <br>
При этом Вам надо не просто подобрать сочетающееся слово, а выбрать то слово, которое выбирает наибольшее число отвечающих<br>
Подобрав самое встречаемое слово Вы получаете полные баллы за задание, за второе по встречаемости - половину баллов.<br>
Важно: можно изменять форму обоих слов в словосочетании и вставлять предлоги.<br>
Оценка задания идет по наличию в набранном слове подходящего корня слова.
<br>
<br>
например "громкая - правдивая - медленная" <br>
Ответом будет 'речь' - Громкая речь, правдивая речь, медленная речь. <br>
Вы ограничены по времени и как только подберете слово, нажимайте кнопку "дать ответ"<br>
Далее Вам покажут 4 буквы, расположенные по две в строчке<br>
например вот так:<br>
<table >
<tr><td id="td1" style="width:100px;text-align: center; vertical-align: middle" > И</td><td id="td2" style="width:100px;text-align: center; vertical-align: middle"> Д</td></tr>
<tr><td id="td3" style="width:100px;text-align: center; vertical-align: middle"> К</td><td id="td4" style="width:100px;text-align: center; vertical-align: middle"> Т</td></tr>
</table>

 Если хотябы одна из показанных букв есть в Вашем слове, то выделите её зеленым в течение 6 секунд. <br>
для этого в томографе нажмите соответствующую кнопку (abcd), а за клавиатурой нажмите соответствующую цифру (1234)
<table >
<tr><td id="td1" style="width:100px;text-align: center; vertical-align: middle" > 1 или a</td><td id="td2" style="width:100px;text-align: center; vertical-align: middle"> 2 или b</td></tr>
<tr><td id="td3" style="width:100px;text-align: center; vertical-align: middle"> 3 или c</td><td id="td4" style="width:100px;text-align: center; vertical-align: middle"> 4 или d</td></tr>
</table>
<br>
Если Вы нажали неправильную букву, то для изменения ответа просто нажмите правильную.<br>
по истечению 6 секунд текущий зеленый ответ будет засчитан за окончательный<br>
Всего у Вас будет две попытки дать ответ, между попытками будет второе задание. <br>
За вторую попытку Вам начислится меньше баллов, т.о. выгдно сначала набрать самое распространенное, <br>
а затем второе по распространенности.<br>
За эти две попытки постарайтесь угадать первые два самых распространенных ответа.<br>
<br>

<br>

<h2>2) Задание на ощущение времени.</h2><br> 
На экране по кругу бегает шарик. Часть круга закрыта секторами,<br>
 шарик под ними не видно.<br>
<img src="http://test.rudych.ru/pkt/2.JPG"><br>

Нажимая мышкой на сектор, вы его выбираете и он выделяется черными гранями.<br>
Например синий сектор ниже был выбран.<br>
<img src="http://test.rudych.ru/pkt/3.JPG"><br>

 Нажимая мышкой на зеленое поле, вы останавливаете шарик.
Сектора становятся прозрачными и видно где находился шарик на самом деле.<br>
Задача остановить шарик в выбранном секторе. <br>
Всего на игру дается 30 секунд и за эти 30 секунд Вы можете сыграть любое количество раз, все набранные баллы суммируются.<br>
Чем меньше сектор, тем больше за него начисляется баллов, но тем сложнее подобрать время для остановки шарика.<br>
за самый большой сектр справа - 1 балл. и далее 2, 3, 4, 5, 6 и 7 баллов за самый маленький.
<br>
Нужно успеть поймать шарик в первый оборот ~10 секунд. 
<br>
<img src="http://test.rudych.ru/pkt/4.JPG"><br>

Задания повторятся десять раз.

    {% next_button %}

{% endblock %}
