{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкция
{% endblock %}

{% block content %}

Вам предлагается поучаствовать в следующем конкурсе, цель набрать как можно больше баллов. Будет предложено два вида заданий, каждое из них оценивается независимо и баллы суммируются.<br>
Задания будут перемешаны, всего будет 10 раундов и в каждом раунде будет две попытки Задания 1 и несколько попыток Задания 2.<br>
Лимиты времени: <br>
Все задания рассчитаны на выполнение без спешки и без ограничения по времени, но поскольку мы ограничены по времени на весь эксперимент, то не можем дать Вам бесконечное время на выполнение задания,<br>
то через достаточно большое время задание будет прерываться и мы будем переходить к следующему этапу. Примерные лимиты времени мы отметим ниже.

<br>
<br>
<h2>Заданиe 1. </h2><br> Вам будет показано три слова. Надо подобрать четвертое<br> 
слово, которое будет образовывать словосочетание с каждым из трех слов по отдельности. <br>
Важно: можно изменять форму обоих слов в словосочетании и вставлять предлоги.<br>
<br>                                                                       
<br>     Рассмотрим пример задания:<br>
Даны три слова: "громкая - правдивая - медленная" <br>
Ответом будет 'речь' <br>
Слово "Речь" образует со словом "громкая" словосочетание "громкая речь". Аналогично строятся словосочетания "правдивая речь" и "медленная речь". <br>
Как только подберете слово, нажимайте кнопку "дать ответ"<br> 
Иначе через некоторое большое время порядка 20 секунд Вы перейдете ко второму заданию и по окончанию его сможете вернуться дать ответ.<br>

Как ввести ответ:<br>
Поскольку одна из реализаций этого конкурса реализована на пистолетах и т.о. не имеет полноценной клавиатуры, то и в нашем случае ввод проходит в два этапа. 
На первом этапе Вам просто покажут 4 буквы, расположенные в строчку<br>
например вот так:<br>
<table border=1>
<tr><td id="td1" style="width:100px;text-align: center; vertical-align: middle" > И</td><td id="td2" style="width:100px;text-align: center; vertical-align: middle"> П</td>
<td id="td3" style="width:100px;text-align: center; vertical-align: middle"> К</td><td id="td4" style="width:100px;text-align: center; vertical-align: middle"> Р</td></tr>
</table>

Если Ваше слово начинается на одну из этих букв, то выберете её. Если в списке нет нужной буквы, то просто воздержитесь от выбора.<br>
для этого в томографе нажмите соответствующую кнопку (abcd), а за клавиатурой нажмите соответствующую цифру (1234)
<table border=1>
<tr><td id="td1" style="width:100px;text-align: center; vertical-align: middle" > Для выбора буквы "И" нажмите 1 или a</td><td id="td2" style="width:100px;text-align: center; vertical-align: middle"> Для выбора буквы П нажмите 2 или b</td>
<td id="td3" style="width:100px;text-align: center; vertical-align: middle"> Для выбора буквы "К" нажмите 3 или c</td><td id="td4" style="width:100px;text-align: center; vertical-align: middle"> Для выбора буквы "Р" нажмите 4 или d</td></tr>
</table>
<br>
На выбор букв дается 6 секунд. Пожалуйста не торопитесь и не нажимайте буквы в первые две секунды.<br>
Если Вы нажали неправильную букву, то для изменения ответа просто нажмите правильную.<br>
по истечению 6 секунд текущий зеленый ответ будет засчитан за окончательный<br>
Всего у Вас будет две попытки дать ответ, между попытками будет второе задание. <br>
<br>
В подсчете баллов попытки равносильны и каждая дает по 3 балла.

<br>

<h2>Задание 2.</h2><br> 
На экране по кругу бегает шарик, периодически пропадая в туннелях-секторах,<br>
Ваша задача поймать шарик в секторе<br>
Чем меньше будет сектор, тем больше баллов Вы получите в случае успеха<br>
Выбор сектора осуществляется стрелками клавиатуры и он выделяется черными гранями.<br>
Например вот так выглядит выбранный синий сектор.<br>
<img src="http://test.rudych.ru/pkt/3.JPG"><br>
Пока Вы выбираете сектор - шарик стоит. Для фиксации окончательного выбора нажмите стрелку вниз.
<br>
После этого шарик начнет двигаться. Для ловли шарика нажмите также стрелку вниз.<br>
Сектора становятся прозрачными и видно где находился шарик на самом деле.<br>
<br>
Поскольку мы всё ещё несколько ограничены по времени на весь эксперимент, то через некоторое время порядка 30 секунд произойдет переключение на первое задание. <br>
Пожалуйста не торопитесь и не спешите сразу выбирать сектора, понаблюдайте пару секунд за движущимся шариком.<br>

Подсчет баллов за задание 2:<br>
за самый большой сектр справа - 1 балл. и далее 2, 3, 4, 5, 6, 7, 8 и 9 баллов за самый маленький.<br>
Чтобы уменьшить суету мы отнормируем Ваши полученные баллы следующим образом:<br>
Если Вы будете ловить шарики очень быстро и наловите их больше 20, то мы зачтем Вам только 20 случайно выбранных.<br>
Если Вы будете ловить шарики очень медленно и за 10 раундов наловите их меньше 20, то мы поделим Ваши баллы на колличество шариков и умножим на 20. <br>

<br>
<img src="http://test.rudych.ru/pkt/4.JPG"><br>
<hr>                                                                                                                 
Посчет баллов и аппеляция:<br>
После каждого раунда мы будем показывать Вам сколько баллов Вы набрали. <br>
Если произойдет какой-нибудь сбой и Вы не успеете отметить правильную букву или еще что, то по итогам игры в самом конце Вы можете подать аппеляцию и мы доначислим Вам баллы.
Также если за 20 попыток Вы дадите 4 и менее ответов или поймаете 4 и менее шариков, то Вы не наша целевая группа и получите 0 баллов.<br>
Также в конце у Вас будет возможность ввести в форме все придуманные слова. Вы легко их вспомните.

    {% next_button %}

{% endblock %}
