{% extends "global/Page.html" %}
{% load otree static %}
   <style>
    div
    {
    text-align: left; 
    text-indent: 0px; 
    padding: 0px 0px 0px 0px; 
    margin: 0px 0px 0px 0px;
    }
    td.td
    {
                 border-width : 1px; 
                 background-color: #99cc00;
                 text-align:center;

    }
    </style>  

{% block content %}

    <div class="card">
        <div class="card-body">
<br>
{{a}}
    <div id="avx"></div>
  <font size="8" face="Courier New" >
<table border=1 id="mytable">
<tr><td id="td1" style="width:100px;text-align: center; vertical-align: middle" > {{a1}}</td><td id="td2" style="width:100px;text-align: center; vertical-align: middle"> {{a2}}</td>
<td id="td3" style="width:100px;text-align: center; vertical-align: middle"> {{a3}}</td><td id="td4" style="width:100px;text-align: center; vertical-align: middle"> {{a4}}</td></tr>
</table>
</font>
        </div>
    </div>
    <input type="hidden" name="ans2"  value="0" id="ans2" />



{% endblock %}
             {% block scripts %}
    <script src="{% static 'js/dist/jspsych.js' %}"></script>

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>

var currentTime=0;
var currentTime2=0;


window.onload=function () {currentTime= new Date(); }
function mf(){ currentTime2= (new Date()-currentTime);
//$('#currentTime').val(Math.floor(currentTime2-currentTime)/1000);

}




var ax = document.getElementById('avx');

    //some code

document.onkeydown = function (e) {
    var keyCode = e.keyCode;

//            ax.innerHTML = keyCode;
mf(this);

if (currentTime2>2000 ){ 
    if(keyCode == 65) {
        document.getElementById("td1").bgColor = '#00FF00'; document.getElementById("td2").bgColor = '#FFFFFF'; document.getElementById("td3").bgColor = '#FFFFFF';  document.getElementById("td4").bgColor = '#FFFFFF';     
        $('#ans2').val('{{a1}}');
    }
    if(keyCode == 66) {
        document.getElementById("td2").bgColor = '#00FF00'; document.getElementById("td1").bgColor = '#FFFFFF'; document.getElementById("td3").bgColor = '#FFFFFF';  document.getElementById("td4").bgColor = '#FFFFFF';      
        $('#ans2').val('{{a2}}');
    }
    if(keyCode == 67) {
        document.getElementById("td3").bgColor = '#00FF00'; document.getElementById("td1").bgColor = '#FFFFFF'; document.getElementById("td2").bgColor = '#FFFFFF';  document.getElementById("td4").bgColor = '#FFFFFF';       
        $('#ans2').val('{{a3}}');
    }
    if(keyCode == 68) {
        document.getElementById("td4").bgColor = '#00FF00'; document.getElementById("td1").bgColor = '#FFFFFF'; document.getElementById("td2").bgColor = '#FFFFFF';  document.getElementById("td3").bgColor = '#FFFFFF';      
        $('#ans2').val('{{a4}}');
    }
    if(keyCode == 49) {
        document.getElementById("td1").bgColor = '#00FF00'; document.getElementById("td2").bgColor = '#FFFFFF'; document.getElementById("td3").bgColor = '#FFFFFF';  document.getElementById("td4").bgColor = '#FFFFFF';     
        $('#ans2').val('{{a1}}');
    }
    if(keyCode == 50) {
        document.getElementById("td2").bgColor = '#00FF00'; document.getElementById("td1").bgColor = '#FFFFFF'; document.getElementById("td3").bgColor = '#FFFFFF';  document.getElementById("td4").bgColor = '#FFFFFF';      
        $('#ans2').val('{{a2}}');
    }
    if(keyCode == 51) {
        document.getElementById("td3").bgColor = '#00FF00'; document.getElementById("td1").bgColor = '#FFFFFF'; document.getElementById("td2").bgColor = '#FFFFFF';  document.getElementById("td4").bgColor = '#FFFFFF';       
        $('#ans2').val('{{a3}}');
    }
    if(keyCode == 52) {
        document.getElementById("td4").bgColor = '#00FF00'; document.getElementById("td1").bgColor = '#FFFFFF'; document.getElementById("td2").bgColor = '#FFFFFF';  document.getElementById("td3").bgColor = '#FFFFFF';      
        $('#ans2').val('{{a4}}');
    }
  }
};

</script>    

{% endblock %}
