{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ a }} </h5>
    <input type="hidden" name="b2" value={{ b }} />
<br>
Закончился период {{ view.round_number }} из {{ Constants.num_rounds }}    <br>
Вы успешно сыграли {{gr}} игр с шариками.                                  <br>
В шариках всего Вы выиграли  {{ballres}} баллов                            <br>
В ответах всего Вы выиграли {{qres}} баллов                                <br>
        </div>
    </div>
<style>
    .otree-timer {
        display: none;
    }
</style>


    {% next_button %}

{% endblock %}
